@font-face {
  font-family: 'Averta';
  src: url('./assets/fonts/averta.woff2') format('woff2');
}

@font-face {
  font-family: 'Averta-Black';
  src: url('./assets/fonts/averta-black.woff2') format('woff2');
}

* {
    font-family: Averta;
}

body {
    font-family: sans;
    text-align: center;
    margin: 0;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 95vw;
    margin: 2.5vh 2.5vw;
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 96em;
    max-height: 60vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(35%);
}

.signup-link#signup {
    background: white;
    color: black;
}

.signup-link:hover, .header-link:hover, #logo:hover {
    filter: opacity(70%);
    cursor: pointer;
}

#banner-container {
    position: relative;
    margin-top: 10%;
    color: white;
}

#banner-title, #banner-subtitle {
    display: block;
    margin: auto;
}

#banner-title {
    margin-bottom: 2em;
}

#banner-button {
    font-family: Averta-Black !important;
    font-size: 1.2em;
    background-color: #0D51FF;
    color: white;
    box-shadow: 0px 26px 50px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 50px;
    font-weight: bold;
    padding: 0.8em 5.5em;
    margin-bottom: 1em;
}

#banner-button:hover {
    filter: brightness(125%);
    cursor: pointer;
}

#content-container {
    margin-top: 5%;
    padding-top: 5%;
    position: relative;
    background: white;
}
