@font-face {
  font-family: 'Averta';
  src: url('./assets/averta.woff2') format('woff2');
}

* {
    font-family: Averta;
}

body {
    font-family: sans;
    text-align: center;
    margin: 0;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 96em;
    max-height: 60vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(35%);
}

.signup-link#signup {
    background: white;
    color: black;
}

.signup-link:hover, .header-link:hover, #logo:hover {
    filter: opacity(70%);
    cursor: pointer;
}

#banner-container {
    position: relative;
    margin-top: 10%;
    color: white;
}

#banner-title, #banner-subtitle, #banner-button {
    display: block;
    margin: auto;
}

#banner-title {
    margin-bottom: 2em;
}

#banner-subtitle {
    position: relative;
    top: -3em;
}

#banner-button:hover {
    filter: brightness(125%);
    cursor: pointer;
}

#content-container {
    margin-top: 5%;
    padding-top: 5%;
    position: relative;
    background: white;
}
